[submodule "third_party/riscv-tests"]
	path = third_party/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests
[submodule "third_party/coremark"]
	path = third_party/coremark
	url = https://github.com/eembc/coremark
